.git
.gitignore
.venv
__pycache__
*.py[cod]
.pytest_cache
.env
data
videos
audio
transcriptions
embeddings
metadata
frontend/node_modules
frontend/dist
tests
*.webm
*.mp4
*.mp3
*.mkv
*.avi
*.mov
*.wmv
*.flv
*.mpeg
*.mpg
*.m4v
*.m4a
